@namespace PepsiCoProjectTimeline.Client.Pages
@page "/"

<PageTitle>IU Plan</PageTitle>

<div class="container"> <iframe title="IU_RFP_Gantt" width="1140" height="541.25"
        src="https://app.powerbi.com/reportEmbed?reportId=9f4f5b5e-8c12-44e4-a380-56a4fb64110e&autoAuth=true&ctid=42cc3295-cd0e-449c-b98e-5ce5b560c1d3"
        frameborder="0" allowFullScreen="true"></iframe>
</div>
